@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
	/* colors one*/
	/* --primary-color: #020811;
	--primary-color-rgb: rgb(2, 8, 17);
	--secondary-color: #112341;
	--tertiary-color: #5571a0;
	--quaternary-color: var(--primary-bg);
	--neutral: #131314;
	--accent: #2d4671; */

	/* bg-color */
	/* --primary-bg: #ebf3f4; */
	/* --secondary-bg: var(--primary-color); */

	/* transparency color overlay */
	/* --primary-transparent: rgba(2, 8, 17, 0.1);
	--primary-transparent-focus: rgba(2, 8, 17, 0.5); */
	/* --primary-transparent: rgba(var(--primary-color), 0.1); */

	/* alterntives */

	/* colors two */
	/* --primary-color: #0b132b;
	--primary-color-rgb: rgb(11, 19, 43);
	--secondary-color: #0f7173;
	--tertiary-color: #3993dd;
	--quaternary-color: var(--primary-bg);
	--neutral: #131314;
	--accent: #c44900;
	--white: #f9f6ff;

	/* bg-color */
	/* --primary-bg: #e8f1f2;
	--primary-bg-glass: #e8f1f2a3;
	--secondary-bg: var(--primary-color); */

	/* transparency color overlay */
	/* --primary-transparent: rgba(11, 19, 43, 0.1);
	--primary-transparent-focus: rgba(11, 19, 43, 0.5);  */
	/* --primary-transparent: rgba(var(--primary-color), 0.1); */

	/* alternate  3 */

	/* colors three */

	--scrollbarBG: var(--primary-bg-glass);
	--thumbBG: var(--primary-transparent-focus);

	--primary-color: #f9f6ff;
	--primary-color-rgb: rgb(249, 246, 255);
	--secondary-color: rgb(15, 113, 115);
	--tertiary-color: #3993dd;
	--quaternary-color: var(--primary-bg);
	--neutral: #131314;
	--accent: #c44900;
	--white: #f9f6ff;

	/* bg-color */
	--primary-bg: #f9f6ff;
	--primary-bg-glass: #f9f6ff20;
	--primary-bg-glass-mate: #0e0e0fef;
	--primary-bg-glass-mate-soft: #0e0e0f90;
	--secondary-bg: var(--primary-color);

	/* transparency color overlay */
	--primary-transparent: rgba(249, 246, 255, 0.3);
	--primary-transparent-focus: rgba(249, 246, 255, 0.7);
	--secondary-color-transparent: rgba(15, 113, 115, 0.5);
	/* --primary-transparent: rgba(var(--primary-color), 0.1); */

	/* base sizes */
	--base-size: 15px;
	--base-1: var(--base-size);
	--base-2: calc(var(--base-size) + 5px);
	--base-3: calc(var(--base-2) + 5px);
	--base-4: calc(var(--base-3) + 5px);
	--base-5: calc(var(--base-4) + 5px);
	--base-6: calc(var(--base-5) + 5px);
	--base-7: calc(var(--base-6) + 5px);
	--base-8: calc(var(--base-7) + 5px);
	--base-sm: calc(var(--base-size) - 5px);
	--base-xs: calc(var(--base-sm) - 5px);
	--base-xxs: calc(var(--base-sm) - 2px);

	/* font */

	--base-font: "Lato", sans-serif;
}
