* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--base-font);
	background-color: var(--primary-bg);
	color: var(--primary-color);
}
p {
	font-size: var(--base-1);
	line-height: 130%;
	text-align: left;
}
h3 {
	font-size: var(--base-2);
	font-weight: bold;
}

h2 {
	font-size: var(--base-3);
	font-weight: bold;
}

h1 {
	font-size: var(--base-5);
	letter-spacing: calc(var(--base-5) * 0.1618);
	font-weight: bolder;
}
a {
	text-decoration: none;
	padding: 0 20px;
	color: var(--primary-color);
}

/* forms */

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--base-4);
	width: 100%;
	color: var(--primary-color);
}

form *:focus {
	outline: none;
	transition: all 200ms ease-in-out;
	border: 1px solid var(--primary-transparent-focus);
}
form input,
form textarea {
	background: transparent;
	border-radius: var(--base-xs);
	padding: var(--base-sm);
	border: 1px solid var(--primary-transparent);
	color: var(--secondary-color);
}
form label {
	margin-bottom: var(--base-xs);
	font-size: var(--base-sm);
}

input {
	width: 100%;
}

input::placeholder {
	color: var(--primary-transparent-focus);
}

textarea {
	min-height: 100px;
}

/* form structure */

.form-wrapper {
	display: flex;
	justify-content: center;
	border: 1px solid var(--primary-transparent);
	padding: var(--base-6);
	width: clamp(300px, 50vw, 1072px);
}

.form__fields,
.form__timeSchedule,
.form__required-fields {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--base-3);
}
.form__fields > div,
.form__timeSchedule > div,
.form__required-fields > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.form__actions {
	color: var(--primary-color);
}

/* buttons */

button {
	padding: var(--base-sm) var(--base-2);
	border-radius: var(--base-xs);

	font-size: var(--base-1);
	transition: all 200ms ease-in-out;
	cursor: pointer;
	margin-right: var(--base-2);
	box-sizing: border-box;
}

button:hover,
button:focus {
	outline: none;
	box-shadow: 0px 0px 0px var(--primary-transparent-focus);
}

.primary-action {
	border: 1px solid transparent;
	box-shadow: 1px 2px 5px var(--primary-transparent-focus);
	background: var(--tertiary-color);
	color: var(--primary-bg);
}

.secondary-action {
	border: 1px solid var(--primary-transparent-focus);
	color: var(--primary-transparent-focus);
	background: transparent;
}
.secondary-action:hover,
.secondary-action:focus {
	border: 1px solid var(--tertiary-color);
	color: var(--tertiary-color);
}
.secondary-action--no-borders {
	border: none;
}
.secondary-action--no-borders:hover {
	border: none;
	color: var(--primary-transparent-focus);
}

.icon-button {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	padding: var(--base-sm) var(--base-xs);
}
.icon-button:hover {
	background: var(--primary-transparent);
}
.icon {
	font-size: var(--base-1);
	margin-right: var(--base-sm);
}

/* small modal */
.small-modal-group {
	padding: 0;
	position: relative;
}

.small-modal {
	width: 300px;
	padding: var(--base-1);
	border: 1px solid var(--primary-transparent);
	box-shadow: 1px 2px 5px var(--primary-transparent-focus);
	z-index: 10;
	background: var(--quaternary-color);
}
.small-modal h4 {
	margin: 0;
}
.small-modal form {
	padding: 0;
	gap: var(--base-1);
}
.small-modal--right {
	position: absolute;
	right: -100%;
	top: -200%;
}
