* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--base-font);
	background-color: var(--primary-bg);
}
p {
	font-size: var(--base-1);
	line-height: 130%;
	text-align: left;
}
h3 {
	font-size: var(--base-2);
	font-weight: bold;
}

h2 {
	font-size: var(--base-3);
	font-weight: bold;
}

h1 {
	font-size: var(--base-5);
	letter-spacing: calc(var(--base-5) * 0.1618);
	font-weight: bolder;
}
a {
	text-decoration: none;
	padding: 0 20px;
	color: var(--primary-color);
}
