* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 11px;
}
body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
	border-radius: var(--base-xs);
	/* border: solid 1px var(--primary-bg-glass-mate-soft); */
}
*::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: var(--base-xs);
	border: 3px solid var(--scrollbarBG);
}

body {
	padding: 0;
	margin: 0;
	background: url("../../public/img/modern-abstract-geometric-art-i51752.jpeg") center / cover no-repeat fixed;
}

body {
	font-family: var(--base-font);
	/* background-color: var(--primary-bg); */
	color: var(--primary-color);
}
p {
	font-size: var(--base-1);
	line-height: 130%;
	text-align: left;
}
h3 {
	font-size: var(--base-2);
	font-weight: bold;
}

h2 {
	font-size: var(--base-3);
	font-weight: bold;
}

h1 {
	font-size: var(--base-5);
	letter-spacing: calc(var(--base-5) * 0.1618);
	font-weight: bolder;
}
a {
	text-decoration: none;
	padding: 0 20px;
	color: var(--primary-color);
}
ul {
	list-style: none;
}
li {
	margin-bottom: var(--base-sm);
}

.view-basic {
	width: clamp(300px, 80vw, 1900px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--base-8);
}

.message {
  color: var(--neutral)
}
.error {
  color:var(--accent)
}

/* home page */
.home {
	flex-grow: 1;
}
.home-content {
	margin: 100px auto;
	width: fit-content;
}

.home__button-container {
	display: flex;
	gap: var(--base-1);
	width: fit-content;
	margin: 0 auto;
}

.text {
	width: 100%;
}
.text--center {
	text-align: center;
}

/* forms */

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--base-4);
	width: 100%;
	color: var(--primary-color);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--base-4);
	width: 100%;
	color: var(--primary-color);
}

form *:focus,
.form *:focus {
	outline: none;
	transition: all 200ms ease-in-out;
	border: 1px solid var(--primary-transparent-focus);
}
form input,
.form input,
form textarea,
.form textarea {
	background: transparent;
	border-radius: var(--base-xs);
	padding: var(--base-sm);
	border: 1px solid var(--primary-transparent);
	color: var(--primary-color);
}
form label,
.form label {
	margin-bottom: var(--base-xs);
	font-size: var(--base-sm);
}

input {
	width: 100%;
}
input[type="checkbox"] {
	width: auto;
}

input::placeholder {
	color: var(--primary-transparent-focus);
}

textarea {
	min-height: 100px;
}

/* form structure */

.form-wrapper {
	display: flex;
	justify-content: center;
	border: 1px solid var(--primary-transparent);
	padding: var(--base-6);
	width: clamp(300px, 50vw, 1072px);
}

.form__fields,
.form__timeSchedule,
.form__required-fields {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--base-3);
}
.form__fields > div,
.form__timeSchedule > div,
.form__required-fields > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.form__timeSchedule > div.form__timeSchedule--division {
	flex-direction: row;
	gap: var(--base-1);
}

.form__timeSchedule > div.form__timeSchedule--division > div {
	flex: 1;
}

.form__input--inline {
	flex-direction: row;
}
.form__input--inline > div:first-of-type {
	flex-grow: 3;
}
.form__input--inline > div:last-of-type {
	flex-grow: 1;
}

.form__actions {
	color: var(--primary-color);
}
.input-group {
	display: flex;
	align-items: center;
}
.input-group--wide {
  width: 100%;
}

/* buttons */

button {
	padding: var(--base-sm) var(--base-2);
	border-radius: var(--base-xs);
	font-size: var(--base-1);
	transition: all 200ms ease-in-out;
	cursor: pointer;
	margin-right: var(--base-2);
	margin-bottom: var(--base-2);
	box-sizing: border-box;
}

button:hover,
button:focus {
	outline: none;
	box-shadow: 0px 0px 0px transparent;
}

.primary-action {
	border: 1px solid transparent;
	background: var(--primary-bg-glass-mate);
	box-shadow: 0 2px 5px 0 var(--primary-transparent);
	backdrop-filter: blur(11.5px);
	-webkit-backdrop-filter: blur(11.5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	color: var(--primary-color);
}
.primary-action p {
	text-align: center;
	mix-blend-mode: screen;
}

.secondary-action {
	border: 1px solid var(--primary-transparent-focus);
	color: var(--primary-transparent-focus);
	background: transparent;
}
.secondary-action:hover,
.secondary-action:focus {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}
.secondary-action--no-borders {
	border: none;
}
.secondary-action--no-borders:hover,
.secondary-action--no-borders:focus {
	border: none;
	color: var(--primary-color);
}

.constructive-action {
	border: none;
}
.constructive-action:hover {
	border: none;
	color: var(--primary-color);
}

.destructive-action {
	border: none;
}

.destructive-action:hover {
	color: var(--accent);
}

.icon-button {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	padding: var(--base-sm) var(--base-xs);
}
.icon-button:hover,
.icon-button:focus {
	color: var(--primary-color);
	background: var(--primary-transparent);
}
.icon {
	font-size: var(--base-1);
	margin-right: var(--base-sm);
}

/* button icon no text */

.button--no-text {
	height: 100%;
	max-height: 40px;
	padding: var(--base-1);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	background: transparent;
	margin-right: 0;
	color: var(--primary-transparent-focus);
}
.button--no-text .icon {
	margin-right: 0;
	font-size: var(--base-1);
}
/* .button--no-text:hover .icon,
.button--no-text:focus .icon {
	color: var(--primary-transparent-focus);
} */

.button-toggle {
	display: none;
}

/* small modal */
.small-modal-group {
	padding: 0 var(--base-1) 0 0;
	position: relative;
}

.small-modal {
	width: 300px;
	padding: var(--base-1);
	box-shadow: 1px 1px 8px var(--primary-transparent);
	z-index: 100;
	border-radius: var(--base-sm);
	background: var(--primary-bg-glass-mate);
	box-shadow: 0 2px 5px 0 var(--primary-transparent);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(11.5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.small-modal h4 {
	margin: 0;
}
.small-modal form {
	padding: 0;
	gap: var(--base-1);
}
.small-modal--top-left {
	position: absolute;
	left: -15px;
	top: 5px;
}
.small-modal--bottom-right {
	position: absolute;
	right: -15px;
	bottom: 5px;
}

/* large modals */
.modal {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: var(--base-6) var(--base-8);

	border-radius: var(--base-sm);
	background: var(--primary-bg-glass-mate-soft);
	box-shadow: 0 2px 5px 0 var(--primary-transparent);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(11.5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.edit-mode {
	width: clamp(300px, 80%, 1200px);
	padding: var(--base-4) var(--base-5);
	overflow-y: scroll;
	max-height: 70vh;

	border-radius: var(--base-sm);
	background: var(--primary-bg-glass);
	box-shadow: 0 2px 5px 0 var(--primary-transparent);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(11.5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.edit-mode .form-wrapper {
	padding: 0 0 var(--base-3) var(--base-3);
	border-radius: var(--base-sm);
	background: var(--primary-bg-glass);
	box-shadow: 0 4px 16px 0 var(--primary-transparent);
	backdrop-filter: blur(13.5px);
	/* width: clamp(300px, 40vw, 720px); */
	width: 100%;
}
.edit-mode .form {
	gap: var(--base-1);
}

.edit-mode .form input,
.edit-mode .form textarea {
	background: none;
	border-radius: 0;
	padding: var(--base-sm);
	border: none;
	color: var(--secondary-primary);
	transition: 300ms all ease-in-out;
	width: 100%;
}

.edit-mode .form input[type="date"]::-webkit-inner-spin-button,
.edit-mode .form input[type="date"]::-webkit-calendar-picker-indicator,
.edit-mode .form input[type="number"]::-webkit-inner-spin-button,
.edit-mode .form input[type="number"]::-webkit-calendar-picker-indicator,
.edit-mode .form textarea::-webkit-inner-spin-button,
.edit-mode .form textarea::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.edit-mode .form input[type="date"]:focus::-webkit-inner-spin-button,
.edit-mode .form input[type="date"]:focus::-webkit-calendar-picker-indicator,
.edit-mode .form input[type="date"]:focus-within::-webkit-inner-spin-button,
.edit-mode .form input[type="date"]:focus-within::-webkit-calendar-picker-indicator,
.edit-mode .form input[type="date"]:focus-visible::-webkit-inner-spin-button,
.edit-mode .form input[type="date"]:focus-visible::-webkit-calendar-picker-indicator {
	display: -webkit-inline-flex;
	-webkit-appearance: auto;
}

.edit-mode .form input:focus,
.edit-mode .form textarea:focus {
	border-radius: var(--base-xs);
	padding: var(--base-sm);
	border: 1px solid var(--primary-transparent-focus);
}

.edit-mode .form input .button-toggle,
.edit-mode .form textarea .button-toggle {
	display: none;
}

.edit-mode .form input:focus ~ .button-toggle,
.edit-mode .form textarea:focus ~ .button-toggle,
.edit-mode .form input:focus-within ~ .button-toggle,
.edit-mode .form textarea:focus-within ~ .button-toggle,
.edit-mode .form input:active ~ .button-toggle,
.edit-mode .form textarea:active ~ .button-toggle,
.edit-mode .form input:focus-visible ~ .button-toggle,
.edit-mode .form textarea:focus-visible ~ .button-toggle {
	display: flex;
}

.edit-mode .form .member-list input,
.edit-mode .form .task-list input,
.edit-mode .form .task-list textarea {
	border-radius: var(--base-xs);
	padding: var(--base-sm);
	border: 1px solid var(--primary-transparent-focus);
	color: var(--primary-color);
	transition: 300ms all ease-in-out;
	width: 100%;
}

.edit-mode .form .task-list input[type="checkbox"] {
	width: auto;
}

.edit-mode .member-list ul {
	padding: 0;
}

.member-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.member-info button,
.task-info button {
	margin-bottom: 0;
}

.task-info {
  width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: var(--base-1) 0;
	margin: var(--base-1) 0;
	border-bottom: 1px solid var(--primary-transparent);
  
}
.task-list,
.member-list {
	margin-bottom: var(--base-8);
}

.task-list ul {
	padding-left: 0;
}

.task-info label {
	margin-bottom: 0;
  flex-grow: 1;
}

/* avatars */

.member-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;
  align-items: center;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.member-info {
  height: auto;
  margin-bottom: 0;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: var(--base-xs);
  background: var(--primary-transparent);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
